[submodule "BuildRoot"]
    path = buildroot
    url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "BusyBox"]
    path = busybox
    url = https://github.com/mirror/busybox.git
[submodule "Kernel"]
    path = kernel/linux
    url  = https://github.com/torvalds/linux.git
[submodule "OpenSBI"]
    path = opensbi
    url = https://github.com/riscv-software-src/opensbi.git
[submodule "UBoot"]
    path = https://github.com/u-boot/u-boot.git
[submodule "Poky"]
    path = Yocto/poky
    url = git://git.yoctoproject.org/poky
[submodule "Bitbake"]
    path = Yocto/bitbake
    url  = git://git.openembedded.org/bitbake